name: s390x-test

on: [push]

jobs:
  s390x:
    # The host should always be Linux
    runs-on: [self-hosted, linux, X64, s390x]
    name: Build and test under qemu on ton9 x86_64
    steps:
    - uses: actions/checkout@v1
    - name: make test
      run: ~/mir-s390x-test.sh master `git log |head -1|awk '{print $2}'`
